.banner {
  margin-bottom: 10px;
}
.banner img{
  max-width: 100%;
}

.infoconteiner {
  display: grid;
  grid-template-columns: 170px 1fr;
  margin-bottom: 10px;
}
.avatar {
  width: 150px;
}
.avatar img {
  max-width: 100%;
}
.posts {
  width: 100%;
}